<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="raw-from-nuget.org" value="nuget-api-key" />
    <add key="https://www.nuget.org" value="encrypted from nuget setapikey nuget-api-ke -configfile .\nuget.config" />
  </apikeys>
</configuration>
